/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-size: 20px;
}

/* Шапка */
header {
    background-color: #09111E;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

/* Контейнер */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Разделы */
.section {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

/* Заголовки */
h1, h2 {
    color: #333;
    font-size: 28px;
}

.subtitle {
    font-size: 18px;
}

/* Список */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

/* Текст различных категорий */
.achievement {
    font-size: 30px;
}

.team-member,
.sponsor,
.location {
    font-size: 16px;
}

/* Изображение календаря */
.calendar-icon {
    width: 20px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
}




.watch-button {
    background-color: #333; /* Цвет фона */
    color: white; /* Цвет текста */
    padding: 10px 40px; /* Отступы внутри кнопки */
    font-size: 20px; /* Размер текста */
    border: none; /* Убираем границу */
    border-radius: 10px; /* Закругляем углы */
    cursor: pointer; /* Изменяем курсор при наведении */
    transition: background-color 0.3s ease; /* Добавляем плавное изменение цвета фона */
}

.watch-button:hover {
    background-color: #888; /* Цвет фона при наведении */
}






h16 {
    color: #f0f0f0;
    font-size: 38px;
}


.achievement-image {
    vertical-align: middle; /* Выравниваем изображение по центру относительно текста */
    margin-left: 5px; /* Добавляем небольшой отступ слева от текста */
    width: 60px; /* Задаем желаемую ширину изображения */
    height: auto; /* Позволяет изображению изменять высоту пропорционально ширине */
}
